<tr id="<%= container_name %>">
  <td colspan='4' id="<%= container_name %>_spinner">
    <span class="sk-spinner">
  </td>
</tr>

<% content_for :render_async do %>
  <%= javascript_tag html_options do %>
    (function($){
      $.ajax({
          url: "<%= path %>",
        })
        .done(function(response, status) {
          $("#<%= container_name %>").html(response);
        })
        .fail(function(response, status) {
          $("#<%= container_name %>").html(response);
        })
        .always(function(response, status) {
          $("#<%= container_name %>_spinner").hide();
        });
    }(jQuery));
  <% end %>
<% end %>
